<div class="task">

    <h1 mat-dialog-title>Add Task</h1>
    <hr>
    <form   (ngSubmit) = "onSubmit(f)"   #f = "ngForm" >
    <div mat-dialog-content >
        <mat-form-field appearance="fill" class="input">
            <mat-label>Cartegory</mat-label>
            <mat-select>
              <mat-option value="cart.Id" *ngFor="let cart of arrayCartegory " >{{ cart.cartegory }}</mat-option>
           
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill" class="input">
            <mat-label>Status</mat-label>
            <mat-select>
              <mat-option value="one" *ngFor="let status of arrayStatus ">{{ status.status }}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill" class="input">
            <mat-label>Task Number</mat-label>
            <input type="number" matInput>
          </mat-form-field>
        
          <mat-form-field appearance="fill" class="input">
            <mat-label>Textarea</mat-label>
            <textarea matInput></textarea>
          </mat-form-field>

    </div>
    <div mat-dialog-actions>
        <button mat-button mat-dialog-close class="button-cancel">Close</button>
        <button mat-button class="button-add" type="submit" >Add Task</button>
    </div>

    </form>

    

</div>


