<div class="task">

    <h1 mat-dialog-title>Add Task</h1>
    <div *ngIf ="errInfo.length > 0" class="alert">
     
        {{   errInfo }}
   </div>
    <hr>
    <form   (ngSubmit) = "onSubmit(f)"   #f = "ngForm" >
    <div mat-dialog-content >
        <mat-form-field appearance="fill"  class="input">
            <mat-label>Cartegory</mat-label>
            <mat-select  ngModel  name = "cartegory" required>
              <mat-option [value]= "cart.id"  *ngFor="let cart of arrayCartegory " >{{ cart.cartegory }}</mat-option>
           
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill" class="input">
            <mat-label>Status</mat-label>
            <mat-select ngModel  name = "status" required>
              <mat-option [value]="status.id" *ngFor="let status of arrayStatus ">{{ status.status }}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill" class="input">
            <mat-label>Task Number</mat-label>
            <input type="number" ngModel name="number" required matInput>
          </mat-form-field>
        
          <mat-form-field appearance="fill" class="input">
            <mat-label>Textarea</mat-label>
            <textarea matInput  required  ngModel  name = "description"></textarea>
          </mat-form-field>

    </div>
    <div mat-dialog-actions>
        <button mat-button mat-dialog-close class="button-cancel">Close</button>
        <button mat-button class="button-add" type="submit" >Add Task</button>
    </div>

    </form>

    

</div>


