
.task{

    width: 400px;
}

.input{
  width: 100%;
 
}

.button-add {

    background-color: grey;
}


.button-cancel {

    background-color:red;
}

.alert {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
    text-align: center;
  }