<mat-toolbar>
 <div class="tab">
    <div>
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <h1>
          Task Board  
            <mat-icon matBadge="15" matBadgeColor="warn">home</mat-icon>
              <!-- Include text description of the icon's meaning for screen-readers -->
              <span class="cdk-visually-hidden">
                Example with a home icon with overlaid badge showing the number 15
              </span>     
       </h1>
      </button>
    </div>
    <div>
      <button mat-flat-button color="primary" (click)="openDialog()"> + Add</button>
    </div>  
 </div>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>dialpad</mat-icon>
      <span>Redial</span>
    </button>
    <button mat-menu-item disabled>
      <mat-icon>voicemail</mat-icon>
      <span>Check voice mail</span>
    </button>
    <button mat-menu-item>
      <mat-icon>notifications_off</mat-icon>
      <span>Disable alerts</span>
    </button>
  </mat-menu>
  
  <span class="example-spacer"></span>
 
</mat-toolbar>

<diV>
</diV>

<div class="tasks">
  <div class="box">
      <div class="header">
        <h3>
          Title    
          <span class="icon "><fa-icon [icon]="delete"></fa-icon> </span>
         </h3>
     </div>
      <mat-divider></mat-divider>
      <div class="body"> 
       <small>Description</small>
      </div>
  </div>
  <div class="box">
    <div class="header">
      <h3> 
         <span class="icon">
          <fa-icon [icon]="pin"></fa-icon>
         </span>
         Title 
          <span class="btn "><fa-icon [icon]="delete"></fa-icon> </span>
        </h3> 
      </div>
    <hr>
    <div class="body">
      <span class="icon background-icon "><fa-icon [icon]="tasks"></fa-icon> </span>
        <small>Description</small>
      </div>
  </div>
  <div class="box">
   
    <div class="header"><h3>Title </h3> </div>
    <hr>
    <div class="body"> Description </div>
  </div>
  <div class="box">
    <div class="header"><h3>Title </h3> </div>
    <hr>
    <div class="body"> Description </div>
  </div>
  <div class="box">
    <div class="header"><h3>Title </h3> </div>
    <hr>
    <div class="body"> Description </div>
  </div>
  <div class="box">
    <div class="header"><h3>Title </h3> </div>
    <hr>
    <div class="body"> Description </div>
  </div>
  <div class="box">
    <div class="header"><h3>Title </h3> </div>
    <hr>
    <div class="body"> Description </div>
  </div>
  
</div>

<div class="pagination">

  <a href="#">1</a>
  <a href="#" class="active">2</a>
  <a href="#">3</a>
  <a href="#">4</a>
  <a href="#">5</a>
  <a href="#">6</a>

</div>