.tab{

    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 10px 30px;

 
}

.tab h1{

    font-size: 30px;
}


*{
    color:black;
}
.tasks{

    display: flex;
    width: 100vw;
    flex-wrap:  wrap;
   justify-content: center;
}
.box{

    background-color: lightgrey;
    width: 200px;
    margin: 40px;
    padding: 10px;
    height: 200px;
    font-style: italic;


  
}

.stats{

    text-align: center;
    margin-bottom: 10px;
}
.header h2{

    width: 200px;
}

.box-pink {

    background-color: pink  !important;
}

.box-green{
    background-color: lightgreen !important;
}

.delete {

    background-color: transparent;
    border: none;
    outline: none;
  

}
.header {

    text-align: center;
}

.icon{

  margin-right: 20px;
  text-align: left;
}




.pagination {

   
    display: flex;
    justify-content: center;
}

  
  .pagination a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  .pagination a.active {
    background-color:  grey;
    color: white;
    border-radius: 5px;
  }
  
  .pagination a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 5px;
  }

  .delete {

    background-color: lightcyan;
    margin-top:70px;
    margin-left: 60px;
 
  
  }

  .spinner {

   
    display: flex;
    justify-content: center;
  }